h1 {
    color: blue;
}

.restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
}

.restaurants > * {
    width: 48%;
    margin-bottom: 15px;
}

.box {
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid #999999;
    padding: 10px;
    background-color: #fefefe;
}

.isUnvisited {
    border-color: coral;
}

.isVisited {
    border-color: limegreen;

}